:root {
    --logo-color: #000;
    --color-1: #ff0000;
    --footer-background: #2f303a;
    --color-2: #f5ffad;
  }
.container{
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
.header{
padding-top: 24px;
padding-bottom: 25px;
  }
.header-logo{
color: var(--color-1);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}
.header-span{
color: var(--logo-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

















.development{
    background-color: var(--color-2);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.development-text{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 91;
    line-height: 1.36;
    letter-spacing: 2.64px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
     
}
.foto{
  margin-left: auto;
  margin-right: auto;
}